<p>
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This hands-on workshop will cover basic concepts and tools,
  including program design, version control, data management,
  and task automation.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="https://doi.org/10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
<!-- Place the following link anywhere in your page. -->
<p align="center"><a id="s_lc_event_16185807" href="https://tufts.libcal.com/calendar/datamanagement/carpentry202602">REGISTER</a></p>

<!-- Below is optional element styling  //-->
<style>
#s_lc_event_16185807 {
  background: #3172AE;
  border: 1px solid #3172AE;
  border-radius: 4px;
  color: #FFFFFF;
  font: 18px Arial, Helvetica, Verdana;
  padding: 8px 20px;
  cursor: pointer;
  margin: 10px auto;
  text-align: center;
}
#s_lc_event_16185807:hover {
  opacity: 0.9;
}
</style>
